/* Navbar top */
#navbar-top {
    & > .navbar-search {
        padding: .5rem .8rem;
        color: rgba(255, 255, 255, .5);
        background-color: rgba(255, 255, 255, .1);
        border-color: rgba(255, 255, 255, .1);

        &:focus {
            color: rgba(255, 255, 255, .5);
            background-color: rgba(255, 255, 255, .2);
            border: 1px solid rgba(255, 255, 255, .2);
            box-shadow: none;
        }
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;

    .sidebar-sticky {
        position: sticky;
        top: 0;
        height: calc(100vh - 48px);
        overflow-x: hidden;
        overflow-y: auto;
    }
}

/* Main */
main {
    padding-top: 48px;
}

/* Tabs */
.nav-tabs {
    .nav-item {
        margin-right: .5rem;
    }

    .nav-link {
        background-color: #f5f5f5;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    }
} 